# Ignore tests (for now)
test
jest.config.js

# Project-specific
attic

# General (incl. build artifacts)
node_modules
npm-debug.log
*.pem
!mock-cert.pem
.env*
.nvmrc
coverage
lib
lib-ui
*.tsbuildinfo